// Este estilo evita que los botones de formulario pierdan sus estilos en Safari
input:matches([type="button"], [type="submit"], [type="reset"], [type="quantity"]) {
    -webkit-appearance: initial !important;
}

body, 
h1, 
.h1, 
h2, 
.h2, 
h3, 
.h3, 
h4, 
.h4, 
h5, 
.h5, 
h6, 
.h6 {
    font-family: $base-font;
}