@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	$min : ceil($min-font-size * 1.3333333333333333);
	$max : floor($max-font-size * 1.3333333333333333);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min;

			@media screen and (min-width: $min-vw) {
				font-size: calc(#{$min} + #{strip-unit($max - $min)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}

			@media screen and (min-width: $max-vw) {
				font-size: $max;
			}
		}
	}
}

@mixin input-placeholder-color($text-color) {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $text-color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $text-color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $text-color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $text-color;
	}
}