// Variables generales

// Fuentes
$base-font: '';
$base-font-med: '';
$base-font-bold: '';

// colores
$black : #000;
$white : #FFF;

// Tamaños de texto
$fz-title : 24px;
$fz-subtitle : 18px;
$fz-small : 14px;

// Containers
$container-max-width: 1024px;
$container-x-padding : 80px;